
@{
    ViewBag.Title = "Example";
    Layout = "~/Views/Shared/LabsLayoutPage.cshtml";
}

<div class="column" style="width:65.95%;">
    @*Veritabanında Blog Yazilari Tablosunda Başlık Kolonuna Burası Eklenir Diğer Kalan Kodlarıda Veritabanında Blog Yazilari Tablosunda Yazi Kolonuna Burası Eklenir*@
    <h2>Console Write Kullanımı</h2>
    
    <p>Yeni bir satıra geçmeden ekrana bir çıktı üretir.</p>
    <p>Bu komut içerisinde değişkenleri de barındırabildiği gibi yapılan işlemlerin sonuçlarını ekranda gösterebilmektedir.</p>
    <br />
    <pre style="--line-num: 0; font-family: monospace;">
        <span>static void Main(string[] args)</span>
        <span>{</span>
        <span>  Console.Write("Hello World");</span>
        <span>}</span>
    </pre>

    <h2>Console WriteLine Kullanımı</h2>
    <p>Yeni bir satıra geçerek ekrana bir çıktı üretir.</p>
    <p>Bu komut içerisinde değişkenleri de barındırabildiği gibi yapılan işlemlerin sonuçlarını ekranda gösterebilmektedir.</p>
    <br />
    <pre style="--line-num: 0; font-family: monospace;">
    <span>static void Main(string[] args)</span>
    <span>{</span>
    <span>  Console.WriteLine("Hello World");</span>
    <span>}</span>
    </pre>

</div>

