
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LabsLayoutPage.cshtml";
}

<div class="column" style="width:65.95%;">
    <h2>Bilgiselleşmek</h2>
    @*<p>Yeni bir satıra geçerek ekrana bir çıktı üretir. Bu komut içerisinde değişkenleri de barındırabilmektedir.</p>
    <p>Kullanım</p>
    <pre style="--line-num: 0; font-family: monospace;">
        <span>static void Main(string[] args)</span>
        <span>{</span>
        <span>  Console.WriteLine("Hello World");</span>
        <span>}</span>
    </pre>*@
</div>

