@using MVCMyWebSite.ViewModel;
@model AdminMainViewModel
<div class="container-fluid">
    <div class="header-advance-area">
        <div class="header-top-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="header-top-wraper">
                            <div class="row">
                                <div class="col-lg-1 col-md-0 col-sm-1 col-xs-12">
                                    <div class="menu-switcher-pro">
                                        <button type="button" id="sidebarCollapse" class="btn bar-button-pro header-drl-controller-btn btn-info navbar-btn">
                                            <i class="icon nalika-menu-task"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-7 col-sm-6 col-xs-12">
                                    @*<div class="header-top-menu tabl-d-n">
                                        <div class="breadcome-heading">
                                            <form role="search" class="">
                                                <input type="text" placeholder="Search..." class="form-control">
                                                <a href=""><i class="fa fa-search"></i></a>
                                            </form>
                                        </div>
                                    </div>*@
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                                    <div class="header-right-info">
                                        <ul class="nav navbar-nav mai-top-nav header-right-menu">
                                            <li class="nav-item dropdown">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><i class="icon nalika-mail nalika-chat-pro" aria-hidden="true"></i><span class="indicator-ms"></span></a>



                                                <div role="menu" class="author-message-top dropdown-menu animated zoomIn">
                                                    <div class="message-single-top">
                                                        <h1>Message</h1>
                                                    </div>
                                                    <ul class="message-menu">
                                                        @foreach (var item in Model.GetAlliletisim)
                                                        {
                                                            <li>
                                                                <a href="#">
                                                                    <div class="message-img">
                                                                        <img src="~/Areas/Administrator/Content/img/1.jpg" alt="">
                                                                    </div>
                                                                    <div class="message-content">
                                                                        @*<span class="message-date">Tarih</span>*@
                                                                        <span class="message-date">@item.name</span>
                                                                        <h2>@item.topic</h2>
                                                                        <p>@item.message</p>
                                                                    </div>
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                                    <div class="message-view">
                                                        <a href="#">View All Messages</a>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-item">
                                                <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                                    <i class="icon nalika-user nalika-user-rounded header-riht-inf" aria-hidden="true"></i>
                                                    <span class="admin-name">@Session["KULLANICIADI"]</span>
                                                    <i class="icon nalika-down-arrow nalika-angle-dw nalika-icon"></i>
                                                </a>
                                                <ul role="menu" class="dropdown-header-top author-log dropdown-menu animated zoomIn">
                                                    @*<li>
                                                            <a href="register.html"><span class="icon nalika-home author-log-ic"></span> Register</a>
                                                        </li>*@
                                                    <li>
                                                        <a href="/"><span class="icon nalika-user author-log-ic"></span> My Profile</a>
                                                    </li>
                                                    @*<li>
                                                            <a href="lock.html"><span class="icon nalika-diamond author-log-ic"></span> Lock</a>
                                                        </li>*@
                                                    <li>
                                                        <a href="/"><span class="icon nalika-settings author-log-ic"></span> Settings</a>
                                                    </li>
                                                    <li>
                                                        <a href=@Url.Action("LogOut","KULLANICILAR")><span class="icon nalika-unlocked author-log-ic"></span> Log Out</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu start -->
        <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="mobile-menu-nav">
                                    <li>
                                        <a data-target="#Charts" href="../Admin/AdminPanel">Anasayfa <span class="admin-project-icon nalika-icon nalika-down-arrow"></span></a>
                                        
                                    </li>
                                    <li>
                                        <a data-toggle="collapse" data-target="#demo" href="#">Sayfalar <span class="admin-project-icon nalika-icon nalika-down-arrow"></span></a>
                                        <ul id="demo" class="collapse dropdown-header-top">
                                            <li><a title="Slider Kontrol" href="/Anasayfa/AnasayfaDetay">Anasayfa</a></li>
                                            <li><a title="BenKimim Kontrol" href="/Benkimim/BenkimimDetay"><span class="mini-sub-pro">Ben Kimim</span></a></li>
                                            <li><a title="Hizmetler Kontrol" href="/Hizmetler/HizmetlerDetay"><span class="mini-sub-pro">Hizmetler</span></a></li>
                                            <li><a title="Yetenekler Kontrol" href="/Yetenekler/YeteneklerDetay"><span class="mini-sub-pro">Yetenekler</span></a></li>
                                            <li><a title="Eğitim Kontrol" href="/Egitim/EgitimDetay"><span class="mini-sub-pro">Eğitim</span></a></li>
                                            <li><a title="Tecrübe Kontrol" href="/Tecrube/TecrubeDetay"><span class="mini-sub-pro">Tecrübe</span></a></li>
                                            <li><a title="BlogHaber Kontrol" href="#"><span class="mini-sub-pro">Blog ve Haber</span></a></li>
                                            <li><a title="İletişim Kontrol" href="/Iletisim/IletisimDetay"><span class="mini-sub-pro">İletişim</span></a></li>
                                            <li><a href="widgets.html">Widgets</a></li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu end -->
        @*<div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-wp">
                                            <div class="breadcomb-icon">
                                                <i class="icon nalika-home"></i>
                                            </div>
                                            <div class="breadcomb-ctn">
                                                <h2>Dashboard Three</h2>
                                                <p>Welcome to Nalika <span class="bread-ntd">Admin Template</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                        <div class="breadcomb-report">
                                            <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="icon nalika-download"></i></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
    </div>
</div>