<!Doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Gürkan N. Kalkan</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <link rel="shortcut icon" type="image/x-icon" href="~/Content/images/NK.png"><!-- favicon -->    
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet"><!-- Google Fonts -->    
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/bootstrap.min.css"><!-- Bootstrap CSS -->    
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/font-awesome.min.css"><!-- Bootstrap CSS -->    
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/nalika-icon.css"><!-- nalika Icon CSS -->
    <!-- owl.carousel CSS -->
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/owl.theme.css">
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/owl.transitions.css">    
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/animate.css"><!-- animate CSS -->    
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/normalize.css"><!-- normalize CSS -->    
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/meanmenu.min.css"><!-- meanmenu icon CSS -->    
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/main.css"><!-- main CSS -->    
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/morrisjs/morris.css"><!-- morrisjs CSS -->    
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/scrollbar/jquery.mCustomScrollbar.min.css"><!-- mCustomScrollbar CSS -->
    <!-- metisMenu CSS -->
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS -->
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/calendar/fullcalendar.print.min.css">
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/style.css"><!-- style CSS -->    
    <link rel="stylesheet" href="~/Areas/Administrator/Content/css/responsive.css"><!-- responsive CSS -->    
    <script src="~/Areas/Administrator/Scripts/vendor/modernizr-2.8.3.min.js"></script><!-- modernizr JS -->
    <!--DataTables-->
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/1.10.19/css/dataTables.semanticui.min.css" rel="stylesheet" />
</head>
<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div class="left-sidebar-pro">
        <nav id="sidebar" class="">
            @*<div class="sidebar-header">
                <a href="index.html"><img class="main-logo" src="~/Areas/Administrator/Content/img/logo.png" alt="" /></a>
                <strong><img src="~/Areas/Administrator/Content/img/logosn.png" alt="" /></strong>
            </div>*@
            <div class="nalika-profile">
                <div class="profile-dtl">
                    <a href="#"><img src="~/Content/images/unnamed.jpg" alt="" /></a>
                    <h2>@Session["KULLANICIADI"] @*<span class="min-dtn">Das</span>*@</h2>
                </div>
                @*<div class="profile-social-dtl">
                    <ul class="dtl-social">
                        <li><a href="#"><i class="icon nalika-facebook"></i></a></li>
                        <li><a href="#"><i class="icon nalika-twitter"></i></a></li>
                        <li><a href="#"><i class="icon nalika-linkedin"></i></a></li>
                    </ul>
                </div>*@
            </div>
            <div class="left-custom-menu-adp-wrap comment-scrollbar">
                <nav class="sidebar-nav left-sidebar-menu-pro">
                    <ul class="metismenu" id="menu1">
                        <li>
                            <a href="../Admin/AdminPanel">
                                <i class="icon nalika-home icon-wrap"></i>
                                <span class="mini-click-non">Anasayfa</span>
                            </a>
                        </li>
                        <li class="active">
                            <a class="has-arrow" href="index.html">
                                <i class="icon nalika-table icon-wrap"></i>
                                <span class="mini-click-non">Sayfalar</span>
                            </a>
                            <ul class="active submenu-angle" aria-expanded="true">
                                <li><a title="Slider Kontrol" href="/Anasayfa/AnasayfaDetay"><span class="mini-sub-pro">Anasayfa</span></a></li>
                                <li><a title="BenKimim Kontrol" href="/Benkimim/BenkimimDetay"><span class="mini-sub-pro">Ben Kimim</span></a></li>
                                <li><a title="Hizmetler Kontrol" href="/Hizmetler/HizmetlerDetay"><span class="mini-sub-pro">Hizmetler</span></a></li>
                                <li><a title="Yetenekler Kontrol" href="/Yetenekler/YeteneklerDetay"><span class="mini-sub-pro">Yetenekler</span></a></li>
                                <li><a title="Eğitim Kontrol" href="/Egitim/EgitimDetay"><span class="mini-sub-pro">Eğitim</span></a></li>
                                <li><a title="Tecrübe Kontrol" href="/Tecrube/TecrubeDetay"><span class="mini-sub-pro">Tecrübe</span></a></li>
                                <li><a title="BlogHaber Kontrol" href="#"><span class="mini-sub-pro">Blog ve Haber</span></a></li>
                                <li><a title="İletişim Kontrol" href="/Iletisim/IletisimDetay"><span class="mini-sub-pro">İletişim</span></a></li>
                            </ul>
                        </li>
                        @*<li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-mail icon-wrap"></i> <span class="mini-click-non">Mailbox</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Inbox" href="mailbox.html"><span class="mini-sub-pro">Inbox</span></a></li>
                                <li><a title="View Mail" href="mailbox-view.html"><span class="mini-sub-pro">View Mail</span></a></li>
                                <li><a title="Compose Mail" href="mailbox-compose.html"><span class="mini-sub-pro">Compose Mail</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-diamond icon-wrap"></i> <span class="mini-click-non">Interface</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Google Map" href="google-map.html"><span class="mini-sub-pro">Google Map</span></a></li>
                                <li><a title="Data Maps" href="data-maps.html"><span class="mini-sub-pro">Data Maps</span></a></li>
                                <li><a title="Pdf Viewer" href="pdf-viewer.html"><span class="mini-sub-pro">Pdf Viewer</span></a></li>
                                <li><a title="X-Editable" href="x-editable.html"><span class="mini-sub-pro">X-Editable</span></a></li>
                                <li><a title="Code Editor" href="code-editor.html"><span class="mini-sub-pro">Code Editor</span></a></li>
                                <li><a title="Tree View" href="tree-view.html"><span class="mini-sub-pro">Tree View</span></a></li>
                                <li><a title="Preloader" href="preloader.html"><span class="mini-sub-pro">Preloader</span></a></li>
                                <li><a title="Images Cropper" href="images-cropper.html"><span class="mini-sub-pro">Images Cropper</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-pie-chart icon-wrap"></i> <span class="mini-click-non">Miscellaneous</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="File Manager" href="file-manager.html"><span class="mini-sub-pro">File Manager</span></a></li>
                                <li><a title="Blog" href="blog.html"><span class="mini-sub-pro">Blog</span></a></li>
                                <li><a title="Blog Details" href="blog-details.html"><span class="mini-sub-pro">Blog Details</span></a></li>
                                <li><a title="404 Page" href="404.html"><span class="mini-sub-pro">404 Page</span></a></li>
                                <li><a title="500 Page" href="500.html"><span class="mini-sub-pro">500 Page</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-bar-chart icon-wrap"></i> <span class="mini-click-non">Charts</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Bar Charts" href="bar-charts.html"><span class="mini-sub-pro">Bar Charts</span></a></li>
                                <li><a title="Line Charts" href="line-charts.html"><span class="mini-sub-pro">Line Charts</span></a></li>
                                <li><a title="Area Charts" href="area-charts.html"><span class="mini-sub-pro">Area Charts</span></a></li>
                                <li><a title="Rounded Charts" href="rounded-chart.html"><span class="mini-sub-pro">Rounded Charts</span></a></li>
                                <li><a title="C3 Charts" href="c3.html"><span class="mini-sub-pro">C3 Charts</span></a></li>
                                <li><a title="Sparkline Charts" href="sparkline.html"><span class="mini-sub-pro">Sparkline Charts</span></a></li>
                                <li><a title="Peity Charts" href="peity.html"><span class="mini-sub-pro">Peity Charts</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-table icon-wrap"></i> <span class="mini-click-non">Data Tables</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Peity Charts" href="static-table.html"><span class="mini-sub-pro">Static Table</span></a></li>
                                <li><a title="Data Table" href="data-table.html"><span class="mini-sub-pro">Data Table</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-forms icon-wrap"></i> <span class="mini-click-non">Forms Elements</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Basic Form Elements" href="basic-form-element.html"><span class="mini-sub-pro">Bc Form Elements</span></a></li>
                                <li><a title="Advance Form Elements" href="advance-form-element.html"><span class="mini-sub-pro">Ad Form Elements</span></a></li>
                                <li><a title="Password Meter" href="password-meter.html"><span class="mini-sub-pro">Password Meter</span></a></li>
                                <li><a title="Multi Upload" href="multi-upload.html"><span class="mini-sub-pro">Multi Upload</span></a></li>
                                <li><a title="Text Editor" href="tinymc.html"><span class="mini-sub-pro">Text Editor</span></a></li>
                                <li><a title="Dual List Box" href="dual-list-box.html"><span class="mini-sub-pro">Dual List Box</span></a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow" href="mailbox.html" aria-expanded="false"><i class="icon nalika-smartphone-call icon-wrap"></i> <span class="mini-click-non">App views</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Notifications" href="notifications.html"><span class="mini-sub-pro">Notifications</span></a></li>
                                <li><a title="Alerts" href="alerts.html"><span class="mini-sub-pro">Alerts</span></a></li>
                                <li><a title="Modals" href="modals.html"><span class="mini-sub-pro">Modals</span></a></li>
                                <li><a title="Buttons" href="buttons.html"><span class="mini-sub-pro">Buttons</span></a></li>
                                <li><a title="Tabs" href="tabs.html"><span class="mini-sub-pro">Tabs</span></a></li>
                                <li><a title="Accordion" href="accordion.html"><span class="mini-sub-pro">Accordion</span></a></li>
                            </ul>
                        </li>
                        <li id="removable">
                            <a class="has-arrow" href="#" aria-expanded="false"><i class="icon nalika-new-file icon-wrap"></i> <span class="mini-click-non">Pages</span></a>
                            <ul class="submenu-angle" aria-expanded="false">
                                <li><a title="Login" href="login.html"><span class="mini-sub-pro">Login</span></a></li>
                                <li><a title="Register" href="register.html"><span class="mini-sub-pro">Register</span></a></li>
                                <li><a title="Lock" href="lock.html"><span class="mini-sub-pro">Lock</span></a></li>
                                <li><a title="Password Recovery" href="password-recovery.html"><span class="mini-sub-pro">Password Recovery</span></a></li>
                            </ul>
                        </li>*@
                    </ul>
                </nav>
            </div>
        </nav>
    </div>
    <!-- AdminNavbarPartial -->
    <div class="all-content-wrapper">
        @Html.Action("GetNavBar", "Admin")
        <center>
            <div style="width:90%; margin-top:90px; color:#152036!important;">
                @RenderBody()
            </div>
        </center>
                @*<div class="footer-copyright-area">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="footer-copy-right">
                                    <p>Copyright © 2018 <a href="https://colorlib.com/wp/templates/">Colorlib</a> All rights reserved.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>
            <!-- jquery
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/vendor/jquery-1.12.4.min.js"></script>
            <!-- bootstrap JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/bootstrap.min.js"></script>
            <!-- wow JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/wow.min.js"></script>
            <!-- price-slider JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/jquery-price-slider.js"></script>
            <!-- meanmenu JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/jquery.meanmenu.js"></script>
            <!-- owl.carousel JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/owl.carousel.min.js"></script>
            <!-- sticky JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/jquery.sticky.js"></script>
            <!-- scrollUp JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/jquery.scrollUp.min.js"></script>
            <!-- mCustomScrollbar JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
            <script src="~/Areas/Administrator/Scripts/scrollbar/mCustomScrollbar-active.js"></script>
            <!-- metisMenu JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/metisMenu/metisMenu.min.js"></script>
            <script src="~/Areas/Administrator/Scripts/metisMenu/metisMenu-active.js"></script>
            <!-- morrisjs JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/sparkline/jquery.sparkline.min.js"></script>
            <script src="~/Areas/Administrator/Scripts/sparkline/jquery.charts-sparkline.js"></script>
            <!-- calendar JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/calendar/moment.min.js"></script>
            <script src="~/Areas/Administrator/Scripts/calendar/fullcalendar.min.js"></script>
            <script src="~/Areas/Administrator/Scripts/calendar/fullcalendar-active.js"></script>
            <!-- float JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/flot/jquery.flot.js"></script>
            <script src="~/Areas/Administrator/Scripts/flot/jquery.flot.resize.js"></script>
            <script src="~/Areas/Administrator/Scripts/flot/jquery.flot.pie.js"></script>
            <script src="~/Areas/Administrator/Scripts/flot/jquery.flot.tooltip.min.js"></script>
            <script src="~/Areas/Administrator/Scripts/flot/jquery.flot.orderBars.js"></script>
            <script src="~/Areas/Administrator/Scripts/flot/curvedLines.js"></script>
            <script src="~/Areas/Administrator/Scripts/flot/flot-active.js"></script>
            <!-- plugins JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/plugins.js"></script>
            <!-- main JS
                ============================================ -->
            <script src="~/Areas/Administrator/Scripts/main.js"></script>
            
            <!--DataTable-->
            <script src="~/scripts/DataTables/jquery.dataTables.min.js"></script>
            <script src="~/scripts/DataTables/dataTables.buttons.min.js"></script>
            <script src="~/scripts/DataTables/buttons.flash.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
            <script src="~/scripts/DataTables/buttons.html5.min.js"></script>
            <script src="~/scripts/DataTables/buttons.print.min.js"></script>

            <script src="~/scripts/DataTables/dataTables.semanticui.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>
            
    <script>
    $(document).ready(function () {
        $('#example').DataTable({
            //FOr Tr
            'language': {
                "sDecimal": ",",
                "sEmptyTable": "Tabloda herhangi bir veri mevcut değil",
                "sInfo": "_TOTAL_ kayıttan _START_ - _END_ arasındaki kayıtlar gösteriliyor",
                "sInfoEmpty": "Kayıt yok",
                "sInfoFiltered": "(_MAX_ kayıt içerisinden bulunan)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "Sayfada _MENU_ kayıt göster",
                "sLoadingRecords": "Yükleniyor...",
                "sProcessing": "İşleniyor...",
                "sSearch": "Ara:",
                "sZeroRecords": "Eşleşen kayıt bulunamadı",
                "oPaginate": {
                    "sFirst": "İlk",
                    "sLast": "Son",
                    "sNext": "Sonraki",
                    "sPrevious": "Önceki"
                },
                "oAria": {
                    "sSortAscending": ": artan sütun sıralamasını aktifleştir",
                    "sSortDescending": ": azalan sütun sıralamasını aktifleştir"
                },
                "select": {
                    "rows": {
                        "_": "%d kayıt seçildi",
                        "0": "",
                        "1": "1 kayıt seçildi"
                    }
                }
            },
            columnDefs: [
            {
                targets: [ 0, 1, 2 ],
                className: 'mdl-data-table__cell--non-numeric'
            }
            ],
            //Gösterim İçim
            dom: 'lBfrtip',
            buttons: [
            //Dosya Çıktısı İçim
            //'copy', 'excel', 'pdf', 'print'
            //{ extend: 'pageLength', className: 'pageLenght', text: 'Uzunluk' },
            { extend: 'copy', className: 'copy', text: 'Kopyala' }, { extend: 'excel', text: 'Excel' },
            { extend: 'pdf', text: 'PDF' }, { extend: 'print', text: 'Yazdır' }
            ],
            "order": [],

        });
    });
    </script>
    
</body>
</html>